@import url('//fonts.googleapis.com/css?family=Poppins:300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,900,900italic');@import url('//fonts.googleapis.com/css?family=Libre+Baskerville:300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,900,900italic');body{font-family: "Poppins", arial, tahoma;font-weight: normal;}#mainMenu{font-family: "Poppins";}
				h1{font-family: "Poppins";}
				h2{font-family: "Poppins";}
				h3{font-family: "Poppins";}
				h4{font-family: "Poppins";}
				h5{font-family: "Poppins";}
				h6{font-family: "Poppins";}
				.price, .price-box .price{font-family: "Poppins";}
				.btn{font-family: "Poppins";}
				blockquote,.sub-title, .content-heading .block-note{font-family: "Libre Baskerville";}
				a:hover,a:focus{color: #ffce50 !important;}.price-box .price{color: #696969 !important;}.price-box .special-price .price{color: #ffce50 !important;}.btn-default:hover,.btn-default:focus,.btn-default:active{background-color: #ffce50 !important;}.btn-default2:hover,.btn-default2:focus,.btn-default2:active{background-color: #ffce50 !important;}.btn-primary:hover,.btn-primary:focus,.btn-primary:active{background-color: #ffce50 !important;}.btn-secondary:hover,.btn-secondary:focus,.btn-secondary:active{background-color: #ffce50 !important;}