/** list view **/
ul.list {
    list-style: none;
    width: 100%;
}

ul.list li {
    display: block;
    background: #c9d0d1;
    padding: 10px 15px;
}

ul.list li.alt {
    background: #d7dfe0;
}

ul.list li section.left {
    display: block;
    float: left;
    width: 350px;
    position: relative;
    padding-left: 20px;
}

ul.list li section.right {
    display: block;
    float: right;
    margin-right: 10px;
    width: 250px;
    text-align: right;
}

ul.list li section.left img.thumb {
    float: left;
    margin-right: 10px;
}

ul.list li section.left img.featured-banner {
    position: absolute;
    left: -18px;
    top: 35px;
}

ul.list li section.left h3 {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #707375;
    font-size: 1.4em;
    line-height: 1.6em;
}

ul.list li section.left span.meta {
    color: #93989b;
    font-weight: normal;
    font-size: 1.1em;
}

ul.list li section.right span.price {
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
    color: #ad3939;
    font-size: 1.6em;
    text-align: right;
}

ul.list li section.right a.firstbtn {
    margin-right: 7px;
}

/** grid view **/
ul.grid {
    list-style: none;
    margin: 0 auto;
    padding-left: 25px;
}

ul.grid li {
    position: relative;
    display: block;
    float: left;
    width: 200px;
    height: 200px;
    border-right: 1px solid #b6bdbe;
    padding: 5px 30px;
    margin-bottom: 100px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.grid li.third {
    border: 0;
}

ul.grid li section.left {
    position: relative;
}

ul.grid li section.right { /* nothing */
}

ul.grid li section.left img.featured-banner {
    position: absolute;
    top: 0;
}

ul.grid li section.left h3 {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #707375;
    font-size: 1.4em;
    line-height: 1.5em;
}

ul.grid li section.left span.meta {
    display: block;
    color: #93989b;
    font-weight: normal;
    font-size: 1.1em;
    margin-bottom: 7px;
}

ul.grid li section.right span.price {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #ad3939;
    font-size: 1.75em;
}

ul.grid li section.right span.darkview {
    opacity: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 200px;
    margin: 0 15px;
    border-radius: 6px;
    background: rgba(40, 45, 55, 0.75);
    overflow: hidden;
    text-align: center;
    padding-top: 35px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: opacity 0.2s linear 0s;
    -webkit-transition: opacity 0.2s linear 0s;
    -moz-transition: opacity 0.25s linear 0s;
    -o-transition: opacity 0.25s linear 0s;
}

ul.grid li:hover section.right span.darkview {
    opacity: 1;
}

ul.grid li section.right span.darkview a.firstbtn {
    display: block;
    margin-bottom: 10px;
}

/** clearfix **/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}
