<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php 
	$themeHelper = $this->helper('MGS\Mpanel\Helper\Data');
	$canUsePanel = $themeHelper->acceptToUsePanel();
?>
<div class="page-content">
<div class="contact-form-content">
	<div class="row">
		<div class="col-sm-5 col-xs-12 margin-bottom60">
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact_page_custom_block')->setCanUsePanel($canUsePanel)->toHtml(); ?>
		</div>
		<div class="col-sm-6 col-sm-offset-1 col-xs-12 margin-bottom60">
			<h4 class="text-uppercase margin-bottom15"><?php echo __('Rellene el formulario'); ?></h4>
			<form class="form contact" action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>" id="contact-form" method="post" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}'>
				<div class="form-group name required">
					<label for="name"><?php echo __('Name'); ?></label>
					<input name="name" id="name" title="<?php /* @escapeNotVerified */ echo __('Name') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text form-control" type="text" data-validate="{required:true}"/>
				</div>
				<div class="form-group email required">
					<label for="email"><?php echo __('Email'); ?></label>
					<input name="email" id="email" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text form-control" type="email" data-validate="{required:true, 'validate-email':true}"/>
				</div>
				<div class="form-group telephone">
					<label for="telephone"><?php echo __('Phone'); ?></label>
					<input name="telephone" id="telephone" title="<?php /* @escapeNotVerified */ echo __('Phone') ?>" value="" class="input-text form-control" type="text" />
				</div>
				<div class="form-group comment required">
					<label for="comment"><?php echo __('Content'); ?></label>
					<textarea name="comment" id="comment" title="<?php /* @escapeNotVerified */ echo __('Content') ?>" class="input-text form-control" cols="5" rows="3" data-validate="{required:true}"></textarea>
				</div><br>
				<div class="actions-toolbar">
					<input type="hidden" name="hideit" id="hideit" value="" />
					<button type="submit" title="<?php /* @escapeNotVerified */ echo __('Send Messages') ?>" class="action submit btn btn-primary">
						<span><?php /* @escapeNotVerified */ echo __('Enviar mensaje') ?></span>
					</button><br><br>
					<p><input type="radio" name="types[]" id="type_3" value="acceptance" data-validate="{required:true}"/> He leído y entiendo la <a href="modal1"class="" data-toggle="modal" data-target="#modal1">
					información básica y relevante de la LOPD y del RGPD que debo conocer</a>						
					<label for="type_3"> </label></p>
						<div class="modal fade" id="modal1" tabindex="-1" role="dialog" 
     						aria-labelledby="myModalLabel" aria-hidden="true">
							    <div class="modal-dialog modal-lg">
						        <div class="modal-content">
						            <div class="modal-header">
						                <button type="button" class="close" 
						                   data-dismiss="modal">
						                       <span aria-hidden="true">&times;</span>
						                       <span class="sr-only">Close</span>
						                </button>
						                <h4 class="modal-title" id="myModalLabel">
						                    POLÍTICA DE PRIVACIDAD
						                </h4>
						            </div>
						            
								 <div class="modal-body">

						                  			<p>Esta Política de Privacidad  establece las bases sobre las que FIO DE MARTIE S.L. B70547302 (en adelante, “FIO DE MARTIE S.L.” o el “Responsable de Tratamiento”), con domicilio en C/ Parroquia de Guísamo parcela A1- nave 6 Polígono Industrial de Bergondo, BERGONDO 15165 A CORUÑA, así como las actividades pertenecientes a FIO DE MARTIE S.L. que en cada caso resulten de aplicación (en adelante, conjuntamente “Nosotros” o “los Responsables del Tratamiento”), tratarán sus datos personales cuando nos los facilite durante su experiencia a través de la página web www.fiodemartie.com (en adelante, “la Web”), entendida como la aplicación informática diseñada para ser ejecutada en teléfonos inteligentes o smartphones, tabletas y otros dispositivos móviles u otros aplicativos, software, medios digitales, soportes o dispositivos habilitados para interactuar con la tienda online de diseño y venta online de accesorios masculinos (corbatas, pajaritas, pañuelos de bolsillo, gemelos, etc) y funcionalidades de los colaboradores relacionados con el Responsable de Tratamiento (en su conjunto, “la Plataforma”). <br />Cada vez que al usar la Plataforma nos facilite o sea necesario que accedamos a cualquier tipo de información que por sus características nos permita identificarle, como su nombre y apellidos, e-mail, número de teléfono, tipo de dispositivo, localización, preferencias de compra, formas de pago, datos bancarios, etc. (en adelante, “Datos Personales”), ya sea para navegar por la misma, comprar nuestros productos o hacer uso de sus servicios o funcionalidades, estará bajo la aplicación de esta Política de Privacidad y Cookies, junto con las Condiciones y Normativa en cuanto a Protección de Datos Personales (LOPD y RGPD), y otros documentos referenciados en las mismas (conjuntamente “los Términos y Condiciones”) vigentes en cada momento, debiendo revisar dichos textos para comprobar que está conforme con ellos.</p>
													<h3></h3>
													<h3>RECOGIDA DE DATOS Y FINALIDADES PRINCIPALES DEL TRATAMIENTO</h3>
													<p>Recuerde que antes de empezar a utilizar cualquiera de nuestros servicios o funcionalidades, deberá leer en esta Política de Privacidad y Cookies, así como en los Términos y Condiciones la sección específica sobre los mismos. En dicha sección podrá ver si hay alguna condición particular para su uso, o si requiere un tratamiento específico de sus Datos Personales. <br />Fio de Martie, S.L. con CIF B70547302, con domicilio en C/ Parroquia de Guísamo parcela A1- nave 6 Polígono Industrial de Bergondo, BERGONDO 15165 A CORUÑA, es el Responsable de la Plataforma, cuyo fin es ofrecer información a todos sus usuarios acerca de sus productos y servicios, diseño y venta online de accesorios masculinos (corbatas, pajaritas, pañuelos de bolsillo, gemelos, etc), así como servicios de información, comunicación y promociones añadidos para sus usuarios registrados. <br />Nuestro objetivo es proteger los datos de carácter personal, además de informar acerca del tratamiento que hacemos de los mismos. <br />Fio de Martie, S.L. cumple en el tratamiento de los datos personales de sus usuarios con la legislación vigente en España y en la Unión Europea, en particular, con la Ley Orgánica de Protección de Datos de Carácter Personal y el Reglamento General de Protección de Datos. Para ello adopta las medidas técnicas y organizativas necesarias para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales facilitados, habida cuenta del estado de la tecnología, la naturaleza de los datos y los riesgos a los que están expuestos. <br />Fio de Martie, S.L. utilizará los datos personales con la finalidad de prestar los servicios solicitados por el Usuario y enviarle comunicaciones relacionadas con el servicio, siempre y cuando el Usuario marque la casilla de “Autorizo” o “Consiento”. El Usuario tendrá la obligación de tener que marcar una casilla, la cual estará visible y habilitada para que pueda confirmar su consentimiento de manera inequívoca para que podamos tratar sus datos personales para las finalidades que se indiquen en cada momento. <br />El tipo de información personal que podemos recoger podría incluir, por ejemplo: nombre y dirección postal, números de teléfono y fax, datos bancarios, DNI o CIF, y dirección de correo electrónico, así como otros datos recogidos en el momento del <br />registro en la Plataforma. Sólo usaremos la información personal que decida facilitarnos para los fines especificados en el momento de su recogida, y con arreglo a las preferencias que nos haya indicado. <br />El hecho de no facilitar cierta información señalada como obligatoria, puede conllevar que no sea posible gestionar su registro como usuario o su pedido/compra, y/o el uso de determinadas funcionalidades o servicios disponibles a través de la Plataforma. <br />El usuario (Usted) por la presente garantiza que los Datos Personales proporcionados son ciertos y exactos y se compromete a notificar cualquier cambio o modificación de los mismos. En el caso de que nos aporte Datos Personales de terceros, usted se responsabiliza de haber informado y haber obtenido el consentimiento de estos para ser aportados con las finalidades indicadas en los apartados correspondientes de la presente Política de Privacidad y Cookies. Cualquier pérdida o daño causado a la Plataforma o al responsable de la Plataforma o a cualquier tercero mediante la comunicación de información errónea, inexacta o incompleta en los formularios de registro será responsabilidad exclusiva del Usuario. <br />Fio de Martie, S.L., como Responsable del Tratamiento, tratará sus Datos Personales con las siguientes finalidades: <br />I. Gestionar su registro como usuario de la Plataforma: los Datos Personales que nos aporte serán objeto de tratamiento para identificarle como usuario de la Plataforma y darle acceso a sus diferentes funcionalidades, productos y servicios que están a su disposición como usuario registrado. <br /> <br />II. Desarrollar, cumplir y ejecutar el contrato de compraventa de los productos o servicios que ha adquirido y/o utilizado, o de cualquier otro contrato con Nosotros a través de la Plataforma. En particular, deberá tener en cuenta que la Plataforma utiliza cookies para mejorar la experiencia que Usted como usuario se dispone a experimentar. <br /> <br />III. Contactar con usted a través de correo electrónico, llamadas telefónicas, envío de SMS u otros medios de comunicación electrónicos equivalentes, etc. en relación a actualizaciones o comunicaciones informativas relacionadas con las funcionalidades, mejoras, productos o servicios contratados y/o disfrutados, incluidas actualizaciones de seguridad de la Plataforma, siempre que sea necesario o razonable para su ejecución. <br /> <br />IV. Compartir sus datos personales de forma proporcionada a los terceros que sea necesario para poder facturar el servicio o producto contratado, y hacer el envío del mismo a la dirección que nos indique. Estos terceros serán tratados como Encargados de Tratamiento del Responsable y tienen un contrato de Encargado de Tratamiento firmado con Nosotros conforme a la legislación vigente en protección de datos personales.</p>
													<h3></h3>
													<h3>DERECHOS DE PROTECCIÓN DE DATOS</h3>
													<p>El Responsable del Tratamiento se compromete a respetar la confidencialidad de sus Datos Personales y a garantizarle el ejercicio de sus derechos. En todo momento podrá ejercer sus derechos de acceso, rectificación, cancelación, supresión, derecho al olvido, limitación y oposición mediante el envío de forma gratuita de un correo electrónico a shop@fiodemartie.com o correo postal a C/ Parroquia de Guísamo parcela A1- nave 6 Polígono Industrial de Bergondo, BERGONDO 15165 A CORUÑA indicándonos el motivo de su solicitud, y aportando una copia de su DNI, pasaporte u otro documento válido para verificar su identidad. <br />En el caso de que decidiese ejercer dichos derechos y que como parte de los datos personales que nos hubiera facilitado conste el correo electrónico le agradeceríamos que en la mencionada comunicación se hiciera constar específicamente esa circunstancia, indicando la dirección de correo electrónico respecto de la que desea ejercitar su derecho de acceso, rectificación, cancelación, supresión, derecho al olvido, limitación y oposición.</p>
													<h3></h3>
													<h3>OTROS USOS NECESARIOS DE SUS DATOS PERSONALES </h3>
													<p>Para cumplir las finalidades indicadas en la presente Política de Privacidad y Cookies, es necesario que tanto el Responsable de Tratamiento como determinadas entidades integrantes de la actividad profesional y de la Plataforma, cuyas actividades se <br />relacionan con Fio de Martie, S.L. traten sus Datos Personales en la medida en que estén directamente implicadas con cada finalidad. <br />Asimismo, también podrá ser necesario facilitar sus Datos Personales a las citadas entidades y a terceras partes que nos presten servicios de apoyo, tales como entidades de lucha contra el fraude, proveedores de servicios tecnológicos, de asesoramiento legal y empresarial, de logística, atención al cliente y/o de análisis de las transacciones que se realizan a través de la Plataforma de cara a ofrecer a los usuarios garantías suficientes en las operaciones comerciales y en las derivadas de la utilización de la Plataforma, etc. Al aportarnos sus Datos Personales a través de esta Plataforma, Usted nos autoriza a tratar y compartir su información con dichos Encargados de Tratamiento.</p>
													<p></p>
													<h3>INFORMACIÓN BÁSICA Y RELEVANTE</h3>
													<p>De conformidad con la Ley Orgánica de Protección de Datos de Carácter Personal y al Reglamento General de Protección de Datos, Fio de Martie, S.L. únicamente registra aquellos datos personales que hayan sido libremente facilitados por el usuario, incorporándolos a su base de datos con la finalidad de contestar a la consulta y/o prestar el servicio solicitado por el propio usuario. Cualquier usuario, al objeto de poder realizar pedidos de bienes o servicios o solicitar un trabajo o presupuesto, puede optar por registrarse y proporcionarnos sus datos personales. En el supuesto que un usuario introduzca sus datos personales, estos únicamente serán tratados para el fin para el que hayan sido proporcionados, de acuerdo con las exigencias de la legislación europea sobre Protección de Datos vigente en cada momento. En cualquier momento, el usuario podrá ejercitar sus derechos ARCO (Acceso, Rectificación, Supresión / derecho al olvido, Limitación del tratamiento, Portabilidad de datos, y Oposición) enviando una solicitud escrita y firmada, en la que se incluya su nombre, apellidos y copia de D.N.I., con las instrucciones precisas a tal efecto. En este caso, Fio de Martie, S.L. tomará todas aquellas medidas que sean necesarias para asegurar que esta solicitud sea tramitada inmediatamente. Si usted tiene dudas sobre alguna de estas condiciones o bien quiere ejercitar sus derechos, puede ponerse en contacto con nosotros en nuestro e-mail de información legal shop@fiodemartie.com . Sus datos en ningún caso serán cedidos a terceros sin su consentimiento previo. El plazo de conservación de sus datos en nuestros ficheros será hasta que finalice nuestra relación contractual o ejercite sus derechos ARCO, excepto en el caso de conservación por obligación legal.</p>
													<p></p>
													<p><strong>Responsable de tratamiento</strong>: Fio de Martie, S.L. CIF B70547302 . C/ Parroquia de Guísamo parcela A1- nave 6 Polígono Industrial de Bergondo, BERGONDO 15165 A CORUÑA. <br /> <strong>Procedencia de los datos</strong>: el propio interesado (usuario que se registra voluntariamente y/o que realiza un pedido en la Plataforma). <br /><strong>Finalidades</strong>: gestión de los datos de los usuarios que cumplimentan el formulario de contacto, suscripción a promociones, boletines o newsletters, realización de gestiones administrativas, de facturación, presupuestos, comunicaciones comerciales, comunicaciones informativas, confirmación de pedido en la tienda online. <br /><strong>Legitimación y Proporcionalidad</strong>: ejecución de un contrato, consentimiento del interesado a través del registro voluntario en la Plataforma, proporcionalidad de los datos recogidos conforme al servicio que se presta. <br /><strong>Plazo de conservación de los datos</strong>: durante la relación mercantil y mientras que el usuario o suscriptor no ejerza el derecho de Supresión, Cancelación, Oposición, Portabilidad de Datos o Derecho al Olvido, salvo obligación legal. <br /><strong>Destinatarios</strong>: empresas colaboradoras (Encargados de Tratamiento) necesarias para realización de gestiones administrativas, de facturación, presupuestos, comunicaciones comerciales, comunicaciones informativas, confirmación de pedidos en la tienda online, entrega de productos y/o servicios contratados por el Usuario. <br /><strong>Garantías aplicables</strong>: copias de seguridad en dispositivos informáticos y electrónicos, medidas de seguridad en archivos físicos, compromiso total del Responsable y de las personas con acceso a datos, medidas técnicas y organizativas necesarias para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales facilitados, habida cuenta del estado de la tecnología, la naturaleza de los datos y los riesgos a los que están expuestos, contratos de Encargado de Tratamiento acorde a la normativa.</p>
													<p><strong>Derechos de los afectados</strong>: Tiene derecho a: acceso a los datos personales, rectificación, limitación de tratamiento, supresión, oposición, portabilidad, derecho al olvido, retirar consentimiento prestado, reclamación ante la AGPD</p>        
						                
						            </div>
						            

						            <div class="modal-footer">
						                <button type="button" class="btn btn-default"
						                        data-dismiss="modal">
						                            Cerrar
						                </button>
						            </div>
						        </div>
						    </div>
     					</div>
					<?php 
						/**
						* Deshabilitado por el momento en la LOPD
						*/
					 ?>
     				<?php /*  ?><p>
					Consiento que el responsable del tratamiento trate mis datos personales para contestar a mi consulta.&nbsp;&nbsp;&nbsp;<input type="radio" name="types2[]" id="type_4" value="acceptance2" data-validate="{required:true}"/> <label for="type_4"> SI</label>&nbsp;&nbsp;&nbsp;<input type="radio" name="types2[]" id="type_4" value="acceptance2" data-validate="{required:true}"/> <label for="type_4"> NO</label>
					</p> 
					<?php /**/ ?>
					<p> 
					Consiento que el responsable del tratamiento trate mis datos personales para registrarme como usuario en www.fiodemartie.com y recibir boletines, newsletters, promociones y/o comunicaciones comerciales de sus productos y/o servicios.&nbsp;&nbsp;&nbsp;<input type="radio" name="types3[]" id="type_4" value="acceptance2" data-validate="{required:true}"/> <label for="type_4"> SI</label>&nbsp;&nbsp;&nbsp;<input type="radio" name="types3[]" id="type_4" value="acceptance2" data-validate="{required:true}"/> <label for="type_5"> NO</label>
					</p>
					<?php 
						/**
						* Deshabilitado por el momento en la LOPD
						*/
					?>
					<?php /* ?><p>
					Consiento que el responsable del tratamiento trate mis datos personales para sus gestiones administrativas, facturación y envío de los productos y/o servicios por mí contratados&nbsp;&nbsp;&nbsp;<input type="radio" name="types4[]" id="type_4" value="acceptance2" data-validate="{required:true}"/> <label for="type_4"> SI</label>&nbsp;&nbsp;&nbsp;<input type="radio" name="types2[]" id="type_4" value="acceptance2" data-validate="{required:true}"/> <label for="type_4"> NO</label>
					</p> /**/?>
				</div>
			</form>
		</div>
	</div>
	
</div>
</div>