/*TIPSA MODULE CUSTOM STYLE */

/*ERROR MESSAGE*/
.yupick-error{
  display: block;
  padding: 10px 5px 15px 5px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  color: #CF1F1F;
  animation-name: flicker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:flicker;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
/* PICK A SPOT MESSAGE*/
.yupick-msg{
  display: block;
  padding: 10px 5px 15px 5px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  color: #000000;
}

@-moz-keyframes flicker{
  0% { opacity: 1.0; }
  50% { opacity: 0.7; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes flicker {
  0% { opacity: 1.0; }
  50% { opacity: 0.7; }
   100% { opacity: 1.0; }
}

@keyframes flicker {
  0% { opacity: 1.0; }
   50% { opacity: 0.7; }
  100% { opacity: 1.0; }
}
