<?php /** * Copyright © 2015 Magento. All rights reserved. * See COPYING.txt for license details. */ ?> <!doctype html><?php $helper = $this->getBuilderHelper(); $canUsePanel = $helper->acceptToUsePanel(); ?> <html class="use-<?php echo $helper->getHeaderClass() ?>" <?php /* @escapeNotVerified */ echo $htmlAttributes ?>><head <?php /* @escapeNotVerified */ echo $headAttributes ?>><?php /* @escapeNotVerified */ echo $requireJs ?> <?php /* @escapeNotVerified */ echo $headContent ?> <?php /* @escapeNotVerified */ echo $headAdditional ?> <?php ?> <link rel="stylesheet" type="text/css" media="all" href="<?php echo $helper->getMediaUrl() ?>mgs/css/<?php echo $helper->getStore()->getId() ?>/custom_config.css" /><?php if($helper->showButton()): ?> <link rel="stylesheet" type="text/css" media="all" href="<?php echo $helper->getPanelCssUrl() ?>" /><?php endif ?></head><body data-container="body" data-mage-init='{"loaderAjax": {}, "loader": { "icon": "<?php /* @escapeNotVerified */ echo $loaderIcon; ?>"}}' <?php /* @escapeNotVerified */ echo $bodyAttributes ?>><?php if($helper->showButton() && !$helper->isPopup()): ?> <?php echo $this->getLayout()->createBlock('MGS\Mpanel\Block\Panel\Toppanel')->setTemplate('panel/toppanel.phtml')->setCacheable(false)->toHtml() ?> <?php endif ?> <?php if($helper->acceptToUsePanel() && ($helper->isHomepage() || $helper->isCmsPage())): ?> <div class="page messages container" style="display: none;"><?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Theme::html/messages.phtml")->toHtml(); ?> <?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Messages")->setTemplate("Magento_Theme::messages.phtml")->toHtml(); ?></div><?php echo $helper->convertContent($layoutContent, $this->getLayout()->createBlock('MGS\Mpanel\Block\Panel\HomeContent')->setTemplate('panel/homecontent.phtml')->toHtml()) ?> <?php else: ?> <?php echo $helper->convertContent($layoutContent) ?> <?php endif ?> <?php if($canUsePanel): ?> <script  type="text/javascript" src="<?php echo $this->getViewFileUrl('MGS_Mpanel::js/panel.js') ?>"></script><?php endif ?> <?php if($helper->isHomepage()): ?> <script  type="text/javascript">
                require([
                    'jquery'
                ], function(jQuery){
                    (function($) {
                        jQuery(window).load(function(){
                            <?php if($helper->getStoreConfig('mgstheme/general/header') == 'header_5'): ?>
                                jQuery(".page.messages").prependTo("page-wrapper");
                            <?php else: ?>
                                jQuery(".page.messages").appendTo("header.header");
                            <?php endif ?> jQuery(".page.messages").delay(8000).show().fadeOut('slow');
                        });
                    })(jQuery);
                });</script><?php endif ?> <script  type="text/javascript">
            require([
                'jquery'
            ], function(jQuery){
                (function($) {
                    jQuery(window).load(function(){
                        jQuery(".page.messages").delay(8000).fadeOut('slow');
                    });
                })(jQuery);
            });</script></body></html>