<?php $collection = $block->getBrandCollection(); ?> <?php $themeHelper = $this->helper('MGS\Mpanel\Helper\Data'); ?> <?php $helper = $this->helper('MGS\Brand\Helper\Data'); ?> <div class="content-block brand-block brand-grid-block"><?php if($this->getData('mgs_panel_title') != "" || $this->getData('mgs_panel_note') != ""): ?> <div class="content-heading"><?php if($this->getData('mgs_panel_title')): ?> <h3 class="title"><?php echo $themeHelper->decodeHtmlTag($this->getData('mgs_panel_title')) ?></h3><?php endif ?> <?php if($this->getData('mgs_panel_note')): ?> <div class="block-note"><?php echo $themeHelper->decodeHtmlTag($this->getData('mgs_panel_note')) ?></div><?php endif ?></div><?php endif ?> <?php if (count($collection)>0): ?> <?php $blockId = rand() . time(); $showShortContent = $this->getConfig('show_short_content'); $viewAs = $this->getConfig('view_as'); $showThumbnail = $this->getConfig('show_thumbnail'); $perRow = $this->getPerrow(); $col = $themeHelper->convertPerRowtoCol($perRow); ?> <?php if($this->getUseSlider()): ?> <?php if($this->hasData('number_row') && $this->getNumberRow()>1){ $columnCount = $perRow * $this->getNumberRow(); } ?> <div class="block widget mgs-brand"><div class="block-content row"><div class="owl-carousel mgs-carousel-<?php echo $blockId; ?> <?php if(!$this->hasData('number_row') || $this->getNumberRow()==1):?>owl-centered<?php endif ?>"><?php $i=0; $j=0; foreach ($collection as $brand): $i++ ?> <?php if($this->hasData('number_row') && $this->getNumberRow()>1): ?> <?php if ($j++ % $columnCount == 0): ?> <div class="item row"><?php endif ?> <?php endif ?> <div class="brand-items<?php if($this->hasData('number_row') && $this->getNumberRow()>1): ?> margin-bottom30 <?php echo $helper->convertColClass($col, 'col') ?> col-sm-4 col-xs-6 <?php echo $helper->convertClearClass($perRow, $i) ?><?php endif ?>"><?php $name = $brand->getName(); ?> <div class="image"><a href="<?php echo $brand->getUrl(); ?>" title="<?php echo $name ?>"><img class="img-responsive" src="<?php echo $brand->getSmallImageUrl(); ?>" alt="<?php echo $name; ?>"/></a></div></div><?php if($this->hasData('number_row') && $this->getNumberRow()>1): ?> <?php if ($j % $columnCount == 0 || $j == count($collection)): ?></div><?php endif ?> <?php endif ?> <?php endforeach ?></div></div></div><?php if($this->hasData('number_row') && $this->getNumberRow()>1):?> <?php $perRow = 1; ?> <?php endif ?> <script type="text/javascript">
				require([
					'jquery',
					'mgs/owlcarousel'
				], function ($) {
					var owl<?php echo $blockId ?> = $('.mgs-carousel-<?php echo $blockId ?>').owlCarousel({
						items: <?php echo $perRow; ?>,
						autoplay: <?php echo $this->getAutoplay() ? 'true' : 'false' ?>,
						autoplayHoverPause: <?php echo $this->getStopAuto() ? 'true' : 'false' ?>,
						nav: <?php echo $this->getNavigation() ? 'true' : 'false' ?>,
						dots: <?php echo $this->getPagination() ? 'true' : 'false' ?>,
						rtl: true,
						navText: ["<i class='pe-7s-angle-left'></i>","<i class='pe-7s-angle-right'></i>"],
						<?php if(!$this->hasData('number_row') || $this->getNumberRow()==1):?>
							responsive:{
								0:{
									items:2
								},
								768:{
									items:3
								},
								992: {
									items:<?php echo $perRow; ?>
								}
							}
						<?php endif ?> });
					<?php if($this->getPagination()): ?>
						owl<?php echo $blockId ?>.on('changed.owl.carousel', function (event) {
							if (event.item.count - event.page.size == event.item.index)
								$(event.target).find('.owl-dots div:last')
								  .addClass('active').siblings().removeClass('active');
						});
					<?php endif ?> });</script><?php else: ?> <div class="block widget mgs-brand"><div class="block-content"><?php $col = $helper->convertPerRowtoCol($perRow); ?> <ul class="row <?php echo $helper->convertColClass($col, 'row') ?>"><?php $i=0; foreach ($collection as $brand): $i++; ?> <li class="brand-items margin-bottom30 <?php echo $helper->convertColClass($col, 'col') ?> col-sm-4 col-xs-6 <?php echo $helper->convertClearClass($perRow, $i) ?>"><?php $name = $brand->getName(); ?> <div class="image"><a href="<?php echo $brand->getUrl(); ?>" title="<?php echo $name ?>"><img class="img-responsive" src="<?php echo $brand->getSmallImageUrl(); ?>" alt="<?php echo $name; ?>"/></a></div></li> <?php endforeach ?></ul></div></div><?php endif ?> <?php else: ?> <div role="alert" class="alert alert-warning"><?php echo __('There are no brands matching the selection.') ?></div><?php endif ?></div>