<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($crumbs && is_array($crumbs)) : ?>
<?php $mgsHelper = $this->helper('MGS\Mpanel\Helper\Data'); ?>
<div class="breadcrumbs">
	<div class="container">
		<ul class="items">
			<?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
				<li class="item <?php /* @escapeNotVerified */ echo $crumbName ?>">
				<?php if ($crumbInfo['link']) : ?>
					<a href="<?php /* @escapeNotVerified */ echo $crumbInfo['link'] ?>" title="<?php echo $block->escapeHtml($crumbInfo['title']) ?>">
						<?php echo $block->escapeHtml($crumbInfo['label']) ?>
					</a>
				<?php elseif ($crumbInfo['last']) : ?>
					<strong><?php echo $block->escapeHtml($crumbInfo['label']) ?></strong>
				<?php else: ?>
					<?php echo $block->escapeHtml($crumbInfo['label']) ?>
				<?php endif; ?>
				</li>
				
			<?php endforeach; ?><p class="datos-envio">
				Precios reflejados con iva y transporte incluidos *
				</p><svg viewBox="0 0 40 31" id="icon_delivery" width="100%" height="100%"><title>icon_delivery</title><path d="M40 14L32 4h-6V0H0v26h3v.5C3 29 5 31 7.5 31s4.5-2 4.5-4.5V26h16v.5c0 2.5 2 4.5 4.5 4.5s4.5-2 4.5-4.5V26h3V14zM7.5 29C6.1 29 5 27.9 5 26.5S6.1 24 7.5 24s2.5 1.1 2.5 2.5S8.9 29 7.5 29zM24 4v20H11.2c-.8-1.2-2.2-2-3.7-2s-2.9.8-3.7 2H2V2h22v2zm8.5 25c-1.4 0-2.5-1.1-2.5-2.5s1.1-2.5 2.5-2.5 2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5zm5.5-5h-1.8c-.8-1.2-2.2-2-3.7-2s-2.9.8-3.7 2H26V6h5l7 8.7V24z"></path></svg>
		</ul>
		<?php if($mgsHelper->getStoreConfig('mpanel/share_config/share_product_detail')): ?>
			<?php echo $block->getChildHtml('product.catalog.sharethis') ?>
		<?php endif ?>
	</div>
</div>
<?php endif; ?>
