<div data-role="cadence-fbpixel-fpc" style="display:none;"></div><script type="text/x-magento-init">
    {"[data-role='cadence-fbpixel-fpc']": {"Magento_Ui/js/core/app": <?php echo $block->getJsLayout();?>}}</script>