<?php /** * Copyright © 2015 Magento. All rights reserved. * See COPYING.txt for license details. */ ?> <?php $themeHelper = $this->helper('MGS\Mpanel\Helper\Data'); $canUsePanel = $themeHelper->acceptToUsePanel(); ?> <div class="contact-form-content"><div class="row"></div></div>