<?php /** * Copyright © 2016 Magento. All rights reserved. * See COPYING.txt for license details. */ /** @var $block \Magento\Catalog\Block\Product\View*/ ?> <?php $_product = $block->getProduct(); $_wishlistSubmitParams = $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product); $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); $themeHelper = $this->helper('MGS\Mpanel\Helper\Data'); $settings = $themeHelper->getThemeSettings(); ?> <div class="product-addto-links" data-role="add-to-links"><?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $settings['product_details']['wishlist']) : ?> <a href="#" class="action towishlist" data-post='<?php /* @escapeNotVerified */ echo $_wishlistSubmitParams; ?>' data-action="add-to-wishlist"><span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span></a> <?php endif; ?> <?php if ($settings['product_details']['compare']) : ?> <a href="#" data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product);?>' data-role="add-to-links" class="action tocompare"><span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span></a> <?php endif; ?></div><script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($block->getWishlistOptions())?> }
    }</script>