<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>

<?php if ($block->getPagerHtml()): ?>
    <div class="toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>


<form id="edit_position_form" action="<?php echo $block->getFormAction() ?>" method="post"
      enctype='multipart/form-data'>
    <ul id="products" class="grid clearfix">
        <?php $position = 1; ?>
        <?php foreach ($_productCollection as $_product): ?>
            <li class="clearfix" id="product-<?php echo $_product->getId(); ?>" position="<?php echo $_product->getCatIndexPosition().'=='.$position; ?>">
                <section class="left">
                    <img src="<?php echo $block->getImageData($_product); ?>" alt="default thumb" class="thumb" width="200" height="150">
                    <?php
                    $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                    ?>
                    <strong class="product name product-item-name">
                        <?php /* @escapeNotVerified */
                        echo $_helper->productAttribute($_product, $_product->getName(), 'name');
                        //echo $_product->getProductsPosition();
                        ?> (<?php echo $_product->getSku(); ?>)
                    </strong>
                </section>
                <input type="hidden" name="positions[<?php echo $_product->getId(); ?>]"
                       value="<?php echo $position; // $_product->getCatIndexPosition() ?>">
                <?php $position++; ?>
                <section class="right">
                    <span class="price"><?php echo $block->getPriceFormat($_product->getPriceInfo()->getPrice('final_price')->getValue()); ?></span>
                </section
            </li>
        <?php endforeach; ?>
    </ul>
    <input name="form_key" type="hidden" value="<?php /* @escapeNotVerified */
    echo $block->getFormKey() ?>"/>
</form>


<?php if ($block->getPagerHtml()): ?>
    <div class="toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>



